# Ignore node_modules from both frontend and backend
node_modules/
client/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv files
.env
.env.*  # For env.development, env.production etc.

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build output
dist/
build/
client/build/

# Cache
.cache/
client/.next/
.next/
*.tgz

# Test coverage
coverage/
client/coverage/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache
client/.eslintcache

# Parcel cache
.cache/
client/.parcel-cache/

# Mac system files
*.DS_Store

# Local environment override settings
*.local

# Windows image file thumbs
ehthumbs.db
Desktop.ini
